each act in activities
	- var objType = " objectType-" + (act.object.objectType ? act.object.objectType : 'none');
	- var actorType = " actorType-" + (act.actor.objectType ? act.actor.objectType : 'none');
	- var className = "verb-" + act.verb + objType+actorType;
	- var objUrl = act.object.url ? act.object.url : '#';
	- var actUrl = act.actor.url? act.actor.url: '#';
	li(class=className)
		.row.activity
			.span1.actor
				-if (act.actor.image && act.actor.image.url) {
					a(href="#{actUrl}")
						img.img-rounded.avatar(src= act.actor.image.url)
				-} else {
					h2 :-)
				-}
			.span5.action
				.row.title
					.span5
						strong=act.actor.displayName
						&nbsp;
						=act.title
				.row.activity_object
					.span5
						br
						blockquote
							-if (act.object.image && act.object.image.url) {
								a(href="#{objUrl}")
									img.img-rounded.avatar(src= act.object.image.url)
							-}
							-if (act.object.displayName) {
								strong.activity-displayName=act.object.displayName
							-} else if (act.object.title) {
								strong.activity-title=act.object.title
							-}
							-if (act.object.content) {
								.activity-content=act.object.content
							-} 
				.row.details
					.span5
						.timestamp.small=act.published
					- if (act.provider && act.provider.icon) {
							.span1
								Via
							.span2
								img.service(src= act.provider.icon.url)
					-}

