.row
	.span8
		h3 Share something...
#new_activity
	.row
		include user-box
		.span5.large-text
			| Did you&nbsp;
			span.btn-group#verb
				a.btn.dropdown-toggle(data-toggle="dropdown")
					span#verb-show=chosenVerb
				ul.dropdown-menu
					each verb in locals.verbs
						li
							a.type-select(href="#", data-type-show="verb-show")=verb
			| &nbsp;a new&nbsp;
			span.btn-group#objectType
				a.btn.dropdown-toggle(data-toggle="dropdown")
					span#object-show=chosenObject
				ul.dropdown-menu
					each objectType in locals.objectTypes
						li
							a.type-select(href="#", data-type-show="object-show")=objectType
			| &nbsp;?
	.row
		#specific-activity-input
	.row#finish
		.span10.offset1
			| To finish you can&nbsp;
			button.btn.btn-success#send-message Publish
			| &nbsp;the activity to the&nbsp;
			span.input-prepend
				span.add-on #
				input#streamName.span2.prepend-fix(type="text", value=locals.desiredStream)
