.row
	.span8
		h3 Share something...
#new_activity
	.row
		include user-box
		.span5.large-text
			| Did you
			span.btn-group#verb
				a.btn.btn-link.dropdown-toggle(data-toggle="dropdown")
					span#verb-show=chosenVerb
				ul.dropdown-menu
					each verb in locals.verbs
						li
							a.type-select(href="#", data-type-show="verb-show")=verb
			| a new
			span.btn-group#objectType
				a.btn.btn-link.dropdown-toggle(data-toggle="dropdown")
					span#object-show=chosenObject
				ul.dropdown-menu
					each objectType in locals.objectTypes
						li
							a.type-select(href="#", data-type-show="object-show")=objectType
			| ?
	#specific-activity-input.row
	hr
	.row
		.span2.offset1
			p To finish you can
		.span1
			button.btn.btn-success#send-message Publish
		.span2
			p the activity to the
		.span3
			.input-prepend
				span.add-on #
				input#streamName.span2.prepend-fix(type="text", value=locals.desiredStream)
