h3 Filters
hr
form#form_filters
	label
		strong Verbs
	p The verb describes the type of action the actor performs on the object.
	-if (filters.usedVerbs)
		each verb in filters.usedVerbs
			label.checkbox=verb
				- if (included.verbs.indexOf(verb) > -1)
					input.filter-checkbox(type="checkbox", name="verb", value=verb, checked=true)
				- else
					input.filter-checkbox(type="checkbox", name="verb", value=verb)
	hr
	label
		strong Object Types
	-if (filters.usedObjectTypes)
		each objType in filters.usedObjectTypes
			label.checkbox=objType
				- if (included.objectTypes.indexOf(objType) > -1)
					input.filter-checkbox(type="checkbox", name="objectType", value=objType, checked=true)
				- else
					input.filter-checkbox(type="checkbox", name="objectType", value=objType)
	hr
	label
		strong Actor Object Types
	-if (filters.usedActorObjectTypes)
		each objType in filters.usedActorObjectTypes
			label.checkbox=objType
				- if (included.actorObjectTypes.indexOf(objType) > -1)
					input.filter-checkbox(type="checkbox", name="actorType", value=objType, checked=true)
				- else
					input.filter-checkbox(type="checkbox", name="actorType", value=objType)
		hr
		label
			strong Distinct Objects
		-if (filters.usedObjects)
			each obj in filters.usedObjects
				label.checkbox=obj
					input.filter-checkbox(type="checkbox", name="object", value=obj, checked=true)
	hr
	label
		strong Distinct Actors
	-if (filters.usedActors)
		each obj in filters.usedActors
			label.checkbox=obj
				input.filter-checkbox(type="checkbox", name="actor", value=obj, checked=true)