h3 Filters
hr
form#form_filters
	label
		strong Verbs
	p The verb describes the type of action the actor performs on the object.
	-if (locals.usedVerbs)
		each verb in locals.usedVerbs
			label.checkbox=verb
				input.filter-checkbox(type="checkbox", name="verb", value=verb, checked=true)
	hr
	label
		strong Object Types
	-if (locals.usedObjectTypes)
		each objType in locals.usedObjectTypes
			label.checkbox=objType
				input.filter-checkbox(type="checkbox", name="objectType", value=objType, checked=true)
	hr
	label
		strong Actor Object Types
	-if (locals.usedActorObjectTypes)
		each objType in locals.usedActorObjectTypes
			label.checkbox=objType
				input.filter-checkbox(type="checkbox", name="actorType", value=objType, checked=true)
		hr
		label
			strong Distinct Objects
		-if (locals.usedObjects)
			each obj in locals.usedObjects
				- var id = (obj.objectType ? obj.objectType : '(none)') + " " + (obj.displayName ? obj.displayName : obj.title)
				label.checkbox=id
					input.filter-checkbox(type="checkbox", name="object", value=id, checked=true)
	hr
	label
		strong Distinct Actors
	-if (locals.usedActors)
		each obj in locals.usedActors
			- var id = (obj.objectType ? obj.objectType : '(none)') + " " + (obj.displayName ? obj.displayName : obj.title)
			label.checkbox=id
				input.filter-checkbox(type="checkbox", name="actor", value=id, checked=true)