h3 Filters
hr
form#form_filters
	label
		strong Verbs
	p The verb describes the type of action the actor performs on the object.
	-if (locals.usedVerbs)
		each verb in locals.usedVerbs
			label.checkbox=verb
				input(type="checkbox", name="verb", value=verb, checked=true)
	hr
	label
		strong Object Types
	-if (locals.usedObjectTypes)
		each objType in locals.usedObjectTypes
			label.checkbox=objType
				input(type="checkbox", name="objType", value=objType, checked=true)
		hr
		label
			strong Distinct Objects
		-if (locals.usedObjects)
			each obj in locals.usedObjects
				label.checkbox=(obj.objectType ? obj.objectType : '(none)') + " " + (obj.displayName ? obj.displayName : obj.title)
					input(type="checkbox", name="obj", value=obj, checked=true)
	hr
	label
		strong Actor Object Types
	-if (locals.usedActorObjectTypes)
		each objType in locals.usedActorObjectTypes
			label.checkbox=objType
				input(type="checkbox", name="objType", value=objType, checked=true)
	hr
	label
		strong Distinct Actors
	-if (locals.usedActors)
		each obj in locals.usedActors
			label.checkbox=(obj.objectType ? obj.objectType : '(none)') + " " + (obj.displayName ? obj.displayName : obj.title)
				input(type="checkbox", name="actor", value=obj, checked=true)